!!! 5
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li: a(href="./") Japanese
          li.active: a(href="./english.html") English
          li: a(href="//blog.takumibaba.com") Blog
        h2.text-muted TakumiBaba.com
      .contents
        .page-header
          h4 About Me
        p Takumi Baba
        p 2nd-year master student at InteractionDesign Project, Graduate School of Media and Governance, Keio University.
        p My research interest is Human-Computer Interaction.
        p now, I propose programming environment for integrating human acivity with program.

        .page-header
          h4 Research Project
        h5: a(href="//babascript.org") BabaScript
        p BabaScript is Programming environment that integrates human activity with program.
        p coming soon...
        
        .page-header
          h4 Activity
        ul
          li Oct. 2013 - Now IPA Exploratory IT Human Resources Project (mitoh)
          li
            u Takumi Baba
            , Sho Hashimoto, Toshiyuki Masui, Distributed manpower processing environment for Real-World Programming, The 6th Forum on Data Engineering and Information Management, [Student Presentation Award]
            
        .page-header
          h4 Education
        ul
          li Bachelor, Faculty of Policy Management , Keio University, Kanagawa Japan (April 2009 - May 2013)
          li Master, Graduate school of Media and Governance, Keio University, Kanagawa Japan (April 2014 - present)
          
        .page-header
          h4 Work
        ul
          li Advisory Brain, N-lab(May 2010 - present)
          li Software Development Engineer Intern, GeishaTokyoEntertainment inc(May 2011 - present)
          li Advisor, Evolving Research Network System Advisor at Keio University (April 2013 - present)
          
        .page-header
          h4 Skills
        ul
          li ServerSide: node.js, Ruby
          li ClientSide: web(html+css+javascript), iOS(Objective-c), Android(Java)
          
        .page-header
          h4 Contact
        p Email: bb@sfc.keio.ac.jp
        p: a(href="https://twitter.com/takumibaba") Twitter
          ,
          a(href="https://github.com/takumibaba") Github
          ,
          a(href="https://www.facebook.com/baba.takumi") Facebook


    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/script.js')
