!!! 5
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

  body
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active: a(href="./") Japanese
          li: a(href="./english.html") English
          li: a(href="//blog.takumibaba.com") Blog
        h2.text-muted TakumiBaba.com

      .contents
        .page-header
          h4 自己紹介
        p 馬場 匠見 (ばば たくみ)
        p 慶応義塾大学 政策・メディア研究科 修士課程 インタラクションデザインプロジェクト
        p 研究分野は Human-Computer Interaction
        p 現在は人の行動をプログラムに組み込むためのプログラミング環境 BabaScript を提案している。

        .page-header
          h4 研究プロジェクト
        h5: a(href="//babascript.org") BabaScript
        p プログラム内に人への命令構文を組み込むことのできるプログラミングライブラリと
        p その命令に対して返り値を返すことのできるクライアントライブラリを組み合わせることで
        p プログラム内で人を関数として扱えるプログラミング環境です。

        .page-header
          h4 対外活動
        ul
          li 2013年10月 - 現在 独立行政法人情報処理推進機構 2013年度未踏IT人材発掘・育成事業 採択
          li
            u 馬場匠見
            , 橋本翔, 増井俊之 実世界プログラミングのための分散人力処理環境, 第6回データ工学と情報マネジメントに関するフォーラム 登壇発表
            small [学生プレゼンテーション賞]

        .page-header
          h4 学歴
        ul
          li 2009年3月 東京都立南平高等学校 卒業
          li 2009年4月 慶應義塾大学 総合政策学部 総合政策学科 入学
          li 2013年3月 慶應義塾大学 総合政策学部 総合政策学科 卒業
          li 2013年4月 慶應義塾大学大学 政策・メディア研究科 修士課程 入学

        .page-header
          h4 アルバイト
        ul
          li 2010年3月 - 現在 エヌ・ラボ アドバイザリーブレイン
          li 2011年2月 - 現在 芸者東京エンターテイメント株式会社 プログラマ インターン
          li 2013年4月 - 現在 慶応義塾大学 ERNSアドバイザ

        .page-header
          h4 コンタクト
        p Email: bb [at] sfc.keio.ac.jp
        p: a(href="https://twitter.com/takumibaba") Twitter
          ,
          a(href="https://github.com/takumibaba") Github
          ,
          a(href="https://www.facebook.com/baba.takumi") Facebook

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/script.js')
